<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha256-MfvZlkHCEqatNoGiOXveE8FIwMzZg4W85qfrfIFBfYc= sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ=="
          crossorigin="anonymous">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.css"/>
</head>
<body ng-app="myApp">
<div ng-controller="NavbarCtrl">
    <header>
        <nav class="navbar navbar-inverse">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#/"><i class="fa fa-sun-o"> Paradise</i></a>
                </div>

                <ul class="nav navbar-nav navbar-right">
                    <li ng-show="user.name"><a href="#supplies"><i class="fa fa-home"></i> Supplies</a></li>
                    <li ng-show="user.name"><a href="#passengers"><i class="fa fa-shield"></i> Passengers</a></li>
                    <li ng-show="user.name"><a href="#weather"><i class="fa fa-comment"></i> Weather</a></li>
                    <li ng-show="user.name"><a href="#/"> Welcome {{user.name}}</a>
                    <li ng-show="!user.name">
                    <p class="navbar-btn">
                        <a href="#loginModal" class="btn btn-primary" data-toggle="modal">Login</a>
                    </p>
                        <!--<button class="btn btn-primary" data-toggle="modal" data-target="#loginModal">Login-->
                        <!--</button>-->
                    </li>
                </ul>
            </div>
        </nav>
    </header>

    <!--login modal-->
    <div class="modal fade" id="loginModal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h1 class="text-center">Sign in</h1>
                </div>
                <div class="modal-body">
                    <form class="form" method="post" name="loginForm" ng-submit="onLogin()">

                        <div class="form-group" ng-class="{'has-error': loginForm.email.$invalid && loginForm.email.$dirty}">
                            <input type="email" name="email" class="form-control input-lg" placeholder="email"
                                   ng-model="user.email" required>
                        </div>

                        <div class="form-group" ng-class="{'has-error': loginForm.password.$invalid && loginForm.password.$dirty}">
                            <input type="password" name="password" class="form-control input-lg" placeholder="password"
                                   ng-model="user.password" required>
                        </div>

                        <div class="form-group">
                            <button type="submit" class="btn btn-primary btn-lg">Sign in</button>
                        </div>
                        <div class="alert alert-danger" ng-if="error">
                            <strong>Invalid user</strong>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    New to Paradise?
                    <a href="#" class="btn btn-primary btn-lg">Register</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div ng-view></div>

<script src="sources/jquery.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"
        integrity="sha256-Sk3nkD6mLTMOF0EOpNtsIry+s1CsaqQC1rVLTAy+0yc= sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ=="
        crossorigin="anonymous"></script>
<script type="text/javascript" src="./sources/angular.min.js"></script>
<script type="text/javascript" src="./sources/angular-resource.min.js"></script>
<script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0-beta.1/angular-route.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/3.10.1/lodash.js"></script>
<!--App-->
<script type="text/javascript" src="./app/app.js"></script>
<!--Controllers-->
<script type="text/javascript" src="controllers/ItemCtrlr.js"></script>
<script type="text/javascript" src="controllers/HomeCtrl.js"></script>
<script type="text/javascript" src="controllers/ContactCtrl.js"></script>
<script type="text/javascript" src="controllers/UserCtrl.js"></script>
<script type="text/javascript" src="controllers/NavbarCtrl.js"></script>
<!--Services-->
<script type="text/javascript" src="./services/ItemService.js"></script>
<script type="text/javascript" src="./services/UserService.js"></script>
</body>
</html>