<div class="jumbotron text-center">
    <h1>Passengers Page</h1>

    <p>{{message}}</p>
</div>

<div class="container">
    <div class="page-header">
        <h1>{{header}}</h1>
    </div>
    <div class="alert alert-info" role="alert" ng-hide="users && users.length > 0">
        There are no passengers yet.
    </div>
    <div ng-show="users && users.length > 0">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Checked</th>
                <th>Id</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="user in users">
                <td><input type="checkbox" ng-model="user.checked" ng-change="updateUser(user)"/></td>
                <td>{{user.id}}</td>
                <td>{{user.firstName}}</td>
                <td>{{user.lastName}}</td>
                <td>{{user.email}}</td>
                <td>
                    <button class="pull-right btn btn-danger" type="button" title="Delete"
                            ng-click="deleteUser(user)">
                        <span class="glyphicon glyphicon-trash"></span>
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <form class="form-horizontal" role="form" ng-submit="addUser(newUser)">

        <hr/>
        <div class="input-group">
            <input type="text" class="form-control" ng-model="newUser.firstName" placeholder="first name"/>
            <input type="text" class="form-control" ng-model="newUser.lastName" placeholder="last name"/>
            <input type="text" class="form-control" ng-model="newUser.email" placeholder="email"/>
        </div>
        <button class="btn btn-primary" type="submit" ng-disabled="!newUser" title="Add">Submit
        </button>
    </form>
</div>